/* Footer Styling */
.footer {
    background-color: #121e26;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin-bottom: 10px;
    font-size: .6rem;
    margin-top: 30px;
    color: #d6d2d0;
  }
  
  .social-icons-footer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Avstånd mellan ikonerna */
    margin-top: 10px;
  }
  
  .social-icon {
    color: #121e26;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s ease;
  }
  
  .social-icon:hover {
    color: #d6d2d0; 
    transform: scale(1.5);
  }
  
  .social-icon i {
    margin: 0;
  }
  

  