.info2 {
    display: flex; /* Lägger innehållet i en rad */
    align-items: center; /* Vertikal centrering */
    justify-content: space-between; /* Utrymme mellan bild och text */
    background-color: #f5f4f7;
    padding: 100px;
    
  }
  
  .info2-image {
    flex: 1; /* Låt bilden ta en del av utrymmet */
    max-width: 550px; /* Begränsar bildens bredd */
  }
  
  .info2-image img {
    width: auto; /* Gör bilden responsiv */
    height: 500px; /* Behåller bildens proportioner */
  }
  
  .info2-text {
    flex: 1; /* Låt texten ta en del av utrymmet */
    max-width: 30%; /* Begränsar textens bredd */
    font-family: sans-serif; /* Justera typsnittet efter behov */
    margin-left: 100px;
    text-align: left;
  }
  .info2-text h1 {
    font-size: 2rem;
    color: #121e26;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .info2-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333; 
    font-family: sans-serif;
    font-weight: 200;
  }
  
  